{% extends 'base.html' %} {% block content %}
<div class="container">
     {% for p in products %}
    <div class="row row-flex">
       
        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 card-img-top spacing">
            <div class="img-sizer text-boldness" style=" background-image: url('{{ MEDIA_URL}}{{p.image}}')">
      
                    <h3 class="underlined">{{p.name}}</h3>
                    <p class="card-body text-boldness">{{ p.description }}</p>
                    <p>{{p.price}}</p>


                      {% if user.is_authenticated %}
                    <form method="post" action='{% url "add_to_cart" p.id %}'>
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="19" class="form-control" placeholder="Quantity" required>
                            <span class='input-group-btn'>
                              
                            <button class="btn btn-dark" type="submit">Add</button>
                        </span>
                        </div>
                    </form>
                {% else %}
                <a class="btn btn-outline-dark" href="{% url 'login' %}">Login First!</a>
                {% endif %}
                </div>
            </div>
        </div>
   
    {% endfor %}
   </div>
</div>
{% endblock %}
